<div class="parallax-container" id="home-page">
  <h1 class="header">TinyPosts</h1>
  <div class="parallax"><img src="https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?q=80&fm=jpg&s=9c69296a682f2821ffedf583276c065d" alt=""></div>
</div>
<% if current_user %>
<div class="section white container">
  <div class="col s10 m8 offset-m2 l6 offset-l3">
     <div class="card-panel grey lighten-5 z-depth-1">
       <div class="row valign-wrapper">
         <div class="col s2">
           <img src="https://pbs.twimg.com/profile_images/378800000633687574/5941bfa1284255c7bf9429f58ee06261.jpeg" alt="" class="circle responsive-img">
         </div>
         <div class="col s8">
           <span class="black-text">
             <h5>@dirtandgreens</h5>
             Discover new things and see what your friends are up to. It's amazing how much you can fit into so few words.
           </span>
         </div>
       </div>
     </div>
   </div>
</div>
<% else %>
<% end %>


