<div class="parallax-container" id="home-page">
  <h1 class="header">TinyPosts</h1>
  <div class="parallax"><img src="https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?q=80&fm=jpg&s=9c69296a682f2821ffedf583276c065d" alt=""></div>
</div>
<div class="section white">
  <div class="row container">
    <p class="grey-text text-darken-3 lighten-3">Discover new things and see what your friends are up to. It's amazing how much you can fit into so few words.</p>
  </div>
</div>