<div class="parallax-container" id="root-page">
  <h1 class="header">TinyPosts</h1>
  <div class="parallax"><img src="https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?q=80&fm=jpg&s=9c69296a682f2821ffedf583276c065d" alt=""></div>
</div>
<div class="section white container">
  <div class="col m8 center">
    <span class="waves-effect waves-light btn-large orange darken-4"><%= link_to "Log In", login_path %></span>
  </div>
</div>
