<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">TinyPosts</h5>
      <p class="grey-text text-lighten-4">A practice app to learn about using API's. A place to share big thoughts in few words.</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Learn more about the creator of <a href="/">TinyPosts</a></h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="http://mbburch.github.io/">MB Burch</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  © 2015 Copyright Text | <a href="/">TinyPosts</a> is maintained by MB Burch
  </div>
</div>