<div class="timeline">
  <ul>
  <% @twitter_client.home_timeline.each do |status| %>
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <span class="fave"><%= link_to glyph(:star), favorites_path(tweet_id: status.id), method: :post %></span>
         <span><%= status.favorite_count %></span>
        <li class="tweet col s8"><strong>@<%= status.user.screen_name %> wants you to know:</strong> <%= status.text %></li>
      </div>
    </div>
  <% end %>
  </ul>
</div>